/* Lead Info Section */

.lead-info strong{
    font-size:14px;
    color:#6c757d;
}

.lead-info p{
    margin:0;
    font-size:15px;
}


/* Status Badges */

.status-new{
    background:#0d6efd;
    color:white;
}

.status-contacted{
    background:#ffc107;
    color:white;
}

.status-site_visit_scheduled{
    background:#6f42c1;
    color:white;
}

.status-converted{
    background:#198754;
    color:white;
}

.status-rejected{
    background:#dc3545;
    color:white;
}


/* Timeline */

.timeline{
    position:relative;
    margin-left:10px;
}

.timeline:before{
    content:"";
    position:absolute;
    left:9px;
    top:0;
    width:2px;
    height:100%;
    background:#dee2e6;
}

.timeline-item{
    position:relative;
    padding-left:30px;
    margin-bottom:25px;
}

.timeline-dot{
    width:16px;
    height:16px;
    background:#0d6efd;
    border-radius:50%;
    position:absolute;
    left:2px;
    top:3px;
}

.timeline-content{
    padding:12px 15px;
    border-radius:6px;
}

/* Cards */

.card{
    border:none;
    border-radius:8px;
}


/* Links */

.lead-info a{
    text-decoration:none;
    color:#0d6efd;
}

.lead-info a:hover{
    text-decoration:underline;
}


.breadcrumb {
    background: transparent;
    padding-bottom: 20px;
    font-size: 14px;
}

.breadcrumb a {
    text-decoration: none;
    color: #0d6efd;
}

.breadcrumb a:hover {
    text-decoration: underline;
}