.profile-img{
    width:150px;
    height:150px;
    object-fit:cover;
    border-radius:50%;
}


.breadcrumb {
    background: transparent;
    padding-bottom: 20px;
    font-size: 14px;
}

.breadcrumb a {
    text-decoration: none;
    color: #0d6efd;
}

.breadcrumb a:hover {
    text-decoration: underline;
}